@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root{
    --color1: #F5F9E9;
    --color2: #1C2321;
    --color3: #92898A;
    --font1: 'Passion One', cursive;
    --font2: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh; 
    background-color: var(--color1);

}

header{
    background-image: linear-gradient(to top, #1C2321, #2C3B32,  #263328);
    text-align: center;
}

header > h1{
    color: #F5F9E9;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Passion One', cursive;
    font-variant: small-caps;
    font-size: 60px;
}

nav.menu1{
    text-align: left;
    position: absolute;
    top: 14%;
    left: 32%;

    transform: translate(-50%, -100%);
}

nav.menu2{
    text-align: right;

    position: absolute;
    top: 14%;
    right: 16%;

    transform: translate(-50%, -100%);
}


nav{
    padding-bottom: 10px;
}

nav > a{
    position: relative;
    color: white;
    text-decoration: none;
    background-color: transparent;
    margin-right: 30px;
    color: var(--color1);
    font-family: var(--font1);
    font-variant: small-caps;
    padding: 10px;
    font-size: 32px;
}

nav > a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #92898A;
    transition: .3s;
}

nav > a:hover::before{
    width: 100%;
}


img{
    width: 200px;
}

main{
    background-color: honeydew;
    font-family: var(--font2);
}

div.background{
    background-color: aqua;
    height: 400px;

    background-image: url('../imagens/wall.png');
    background-size: cover;
    background-position: center center;
}

section{
    background-color: #F0FFF0;
}

section > div{
    border: 5px solid var(--color2);
    height: 500px;
    width: 400px;
    text-align: center;
    background-image: url('../imagens/programmer\ spid\ 1\ \(1\).png');
    background-position: center;
    background-size: cover;

    position: absolute;
    top: 55%;
    left: 30%;

    transform: translate(-50%, -50%);
}

div.caixa{
    background-color: var(--color2);
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 100px;

}

div.caixa > p{
    color: var(--color1);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font1);
    font-size: 23px;
}

section{
    height: 400px;
    width: 100%;
    text-align: center;
}

section > h1{
    padding-left: 200px;
    font-family: var(--font1);
    font-size: 32px;
    font-weight: bold;
}

section > p{
    padding-left: 200px;
    font-family: var(--font2);
    color: black;
    line-height: 25px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    background-color: #1C2321;
    text-align: center;
    font-family: var(--font1);
    color: var(--color1);
    padding: 10px;
}


footer a{
    color: var(--color1);
    font-family: var(--font1);
    text-decoration: none;
    font-size: 15px;
}

footer a:hover{
    text-decoration: underline;
}
